body {
  margin: 0;
  font-family: 'Titillium Web', serif;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em;
}
h1 {
  text-align: center;
  margin:0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
 .top-container {
  text-align: center;
  background-color: #D8E9A8;
  padding: 0;
  margin: 0;
}

p {
  line-height: 2
}

.title {
  font-size: 80px;
  font-family: Ink Free;
  color: #4E9F3D;
}
.support-title {
  font-size: 40px ;
  font-family: Comic Sans MS;
  color: #4E9F3D;
}
.mountain {

  margin: 0;
}
.cloud {
  margin-top: 2%;
  position: relative;
  left: 18%

}
.cloud2 {
  position: absolute;
}
.pro {
  text-decoration: underline;
}
.profile-pic {
  height:200px;
  margin-top: 70px;

}
.profile-greeting {
  text-align: center;
  color: #4E9F3D;
}
.pizza {
  width: 29%;
  text-align: left;
  float: right;
  margin-left: 30px;
}
.skill {
  width: 29%;
  text-align: left;
  float: left;
  margin-right: 50px;
}

.the-skills {
  color: #4E9F3D;
  padding-bottom: 3%;
  font-size: 2.2rem;
  font-weight: bolder;
}
.sub-title {
  color: #4E9F3D;
  font-size: 1.8rem;
}
.contact {
  color: #4E9F3D;
}

.skills {
  width: 50%
  text-align:center;
  padding-bottom: 5%;
}
.skill-row {
  width: 60%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.dotted-line {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 10px;
  width: 5%;
  padding-bottom: 3%;
}
.colored-contact {
  color: #4E9F3D;
}
.intro {
  width: 30%;
  margin-left: 35%;
  padding-bottom: 3%;
}
.bottom-container {
  background-color: #4E9F3D;
  padding: 2%;
}
.contact-me {
  padding-bottom: 5%;
  width: 40%;
 margin-left: 30%;
}
.middle-container {
 background-color: #EEEEEE;
}
.brief-intro {
  padding-bottom: 7%;
}
.btn {
  background: #D8E9A8;
  background-image: -webkit-linear-gradient(top, #D8E9A8, #4E9F3D);
  background-image: -moz-linear-gradient(top, #D8E9A8, #4E9F3D);
  background-image: -ms-linear-gradient(top, #D8E9A8, #4E9F3D);
  background-image: -o-linear-gradient(top, #D8E9A8, #4E9F3D);
  background-image: linear-gradient(to bottom, #D8E9A8, #4E9F3D);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2ee62e;
  background-image: -webkit-linear-gradient(top, #2ee62e, #428c5c);
  background-image: -moz-linear-gradient(top, #2ee62e, #428c5c);
  background-image: -ms-linear-gradient(top, #2ee62e, #428c5c);
  background-image: -o-linear-gradient(top, #2ee62e, #428c5c);
  background-image: linear-gradient(to bottom, #2ee62e, #428c5c);
  text-decoration: none;
}
.copyright {
  color: white;
  font-size: 75%;
  padding: 20px 0;
}
.closing-line {
  margin-bottom: 90px;
}
a {
  font-family: 'Montserrat', sans-serif;
  margin: 0 15px;
  text-decoration: none;
  color: green;
  font-size: 100%;
}
a:hover {
  color: white;
}
